html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}
#top_row{
	text-align: right;
	background-color: rgb(250, 245, 234);
	width: 100%;
	border: 1px solid black;
	border-bottom: none;
}
#phone{
	color:rgb(165, 32, 31);
	font-size: 20px;
	padding: 25px;
}
#header_content{
	width: 100%;
	background-image: linear-gradient(to top, rgb(211, 192, 153), rgb(250, 245, 234));
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid black;
	border-top: none;
}
header img{
	width: 25%;
	height: 2.5%;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
}
nav ul li{
	padding: 0 15px;
}

nav ul li a{
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: black;
	font-size: 20px;
}

body #home_image{
	width: 100%;
	height: 50vh;
	object-fit: fill;
	display: block;
}
#company_name{
	color: black;
	font-size: 2.2rem;
	text-align: center;
}

#company_title{
	color: rgb(94, 33, 31);
	font-size: 1.8rem;
	text-align: center;
}

#company_bio{
	color: black;
	font-size: 1rem;
	text-align: center;
	padding: 50px;
	line-height: 1.8;
}
#company_info_segment{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px;
}
#company_address{
	display: inline-block;
	background-color: rgb(250, 245, 234);
	padding: 50px;
	text-align: center;
}

#company_address span{
	font-size: 1rem;
	color: black;
	display: block;
	padding: 5px;
}

#company_hours{
	display: inline-block;
	background-color: rgb(250, 245, 234);
	padding: 50px;
	text-align: center;
}

#company_hours span{
	font-size: 1rem;
	color: black;
	display: block;
	padding: 5px;
}

footer {
	background-color: rgb(94, 33, 31);
	text-align: center;
	padding: 10px;
}
footer section{
	vertical-align: top;
	display: inline-block;
	padding: 10px;
	width: 33%;
	box-sizing: border-box;
}

footer #footer_company_info span{
	font-size: 1rem;
	color: white;
	display: block;
	padding: 5px;
}

footer #footer_logo img{
	width: 25%;
	height: 5%;
	display: block;
	margin: 0 auto;
}

footer #footer_company_hours span{
	font-size: 1rem;
	color: white;
	display: block;
	padding: 5px;
}

footer #footer_company_hours a{
	font-size: 1rem;
	color: white;
	display: block;
}
#about{
	margin-left: 50px;
}
.fam_info{
	display: flex;
	align-items: center;
	margin-left: 50px;
	padding: 10px;
}
.fam_info p{
	flex: 1;
}
.placeholder{
	width: 5%;
	height: 10%;
	margin-right: 50px;
}
